<table>
  <tr>
    <td>
      <div>
        <table title="Users">
          <th>Email</th>
          <th>FirstName</th>
          <tr *ngFor="let user of users">
            <td>{{user.email}}</td>
            <td>{{user.firstName}}</td>
            <td><button (click)="onClick(user)">Show Me</button></td>
          </tr>
        </table>
      </div>
    </td>
    <td>
      <div *ngIf="selectedUser">
        <h2>{{selectedUser.firstName | uppercase}}'s Details</h2>
        <div>
          <table title="SelectedUser">
            <tr>
              <td>FirstName:</td>
              <td>{{selectedUser.firstName}}</td>
            </tr>
            <tr>
              <td>LastName:</td>
              <td>{{selectedUser.lastName}}</td>
            </tr>
            <tr>
              <td>Email:</td>
              <td>{{selectedUser.email}}</td>
            </tr>
            <tr>
              <td>IsActive:</td>
              <td>{{selectedUser.isActive}}</td>
            </tr>
          </table>
        </div>
      </div>
    </td>
  </tr>
</table>

